<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>게시글</h2>
    </div>
    <form action="board.html" th:action method="post">
    <!-- 추가 -->
    <h2 th:if="${param.add_status}" th:text="'저장 완료'"></h2>
    <h2 th:if="${param.edit_status}" th:text="'수정 완료'"></h2>
    <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="title" class="form-control" value="" th:value="${board.title}" readonly>
    </div>
    <div>
        <label for="content">Content</label>
        <input type="text" id="content" name="content" class="form-control" value="" th:value="${board.content}" readonly
            style="height:300px;">
    </div>
    <div>
        <label for="writer">Writer</label>
        <input type="text" id="writer" name="writer" class="form-control" value="" th:value="${board.writer}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/boards/{boardId}/edit(boardId=${board.id})}'|"
                    type="button">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    type="submit">삭제</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='boards.html'"
                    th:onclick="|location.href='@{/boards}'|"
                    type="button">목록</button>
        </div>
    </div>
    </form>
</div> <!-- /container -->
</body>
</html>