<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>게시판</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/boards/write}'|"
                    th:action
                    type="button">글쓰기
            </button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>제목</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boards}">
                <td><a href="board.html" th:href="@{/boards/{boardId}(boardId=${board.id})}" th:text="${board.id}">게시글
                    번호</a></td>
                <td><a href="board.html" th:href="@{|/boards/${board.id}|}" th:text="${board.title}">게시글 번호</a></td>
                <td th:text="${board.writer}">작성자</td>
            </tr>

            <tr>
                <div>
                       <span th:each="pageNum : ${pageList}" th:inline="text">
                           <a th:href="@{'/boards?page=' + ${pageNum}}">[[${pageNum}]]</a>
                       </span>
                </div>
            </tr>
            <tr>
                <form action="boards" th:action="@{/boards/search}" method="get">
                    <td><input type="text" class="form-control"
                               placeholder="검색어 입력" name="searchTitle" maxlength="100"></td>
                    <td>
                        <button type="submit" class="btn btn-success">검색</button>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->


</body>
</html>